*, *::after, *::before{
  box-sizing: border-box;
}

h1, h2, p{
  margin: 0;
}

:root{
  /*Primary Colors*/
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  /*Neutral Colors*/
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);

  /*Font Family*/
  --dm-sans: "Dm Sans"
}

.page{
  background-color: var(--cream);
  min-height: 100vh;

  display: flex;
  font-family: var(--dm-sans), sans-serif;
}

.container{
  width: clamp(350px, 60vw, 550px);
  margin: auto;

  display: flex;
  flex-direction: column;
}

.header{
  height: clamp(100px, 15vh, 125px);
  padding: 0em 1.5em;

  background-color: var(--soft-red);
  border-radius: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 720px){
  .header{
    padding: 0em 2em;
  }
}

.balance{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  color: var(--very-pale-orange);
}

.balance__title{
  font-size: clamp(.8rem, 2vw, 1.1rem);
  opacity: .8;
}

.balance__money{
  font-size: clamp(1.4rem, 4vw, 2rem);
  font-weight: 700;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  height: clamp(420px, 50vh, 530px);
  padding: 0 1.3em;
  margin-top: calc(1.3vh + 5px);
  
  border-radius: 10px;
  background-color: var(--very-pale-orange);
}

@media (min-width: 720px){
  .main{
    padding: 0 2.5em;
  }
}

.spend__title{
  margin-top: calc(10px - 1.5vh);
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.container-canvas{
  height: 200px;
  width: 100%;
  margin-top: calc(2vh + 10px);
  margin-bottom: calc(2vh + 5px);
}

.financial-state{
  display: flex;
  justify-content: space-between;

  margin-top: calc(1vh + 5px);
}

.card{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card__title{
  color: var(--medium-brown);
  font-size: clamp(1rem, 1vw, 1.3rem);
  font-weight: normal;
}

.card__money{
  font-size: clamp(1rem, 1vw, 1.3rem);
  font-weight: 700;
}

.card__money--big{
  font-size: clamp(2rem, 2.8vw, 2.6rem);
}

.card--reverse{
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card--reverse > .card__money{
  text-align: right;
}

.card--reverse > .card__title {
  order: 1;
}